<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Editar cliente</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/clientes/update" method="POST">
                <label>Nome do cliente:</label>
                <input class="form-control" type="text" name="nome" id="nome" value="<%= cliente.nome%>" required>
                <label>CPF do cliente:</label>
                <input class="form-control" type="text" name="cpf" id="cpf" value="<%= cliente.cpf%>" required>
                <label>Endereço do cliente:</label>
                <input class="form-control" type="text" name="endereco" id="endereco" value="<%= cliente.endereco%>" required><br>
                <input type="hidden" name="id" value="<%=cliente.id%>">
                <input type="submit" class="btn btn-warning" value="alterar" onclick="return confirm('Comfirmar as alterações para o cliente <%=cliente.nome%>?')">
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>