<%- include ('partials/header.ejs')%>

<div class="container">
    <h1>Cadastrar novo filme:</h1>
    <form action="/filmes/new" method="POST">
        <label>Título:</label>
        <input type="text" name="titulo" required>
        <label>Gênero:</label>
        <input type="text" name="genero" required>
        <label>Duração:</label>
        <input type="text" name="duracao" required>
        <input type="submit" value="Cadastrar">
        <input type="reset" value="Limpar">
    </form>
    <br><hr><br>
    <table>
        <thead>
            <th style="width: 150px; text-align: left;">Título:</th>
            <th style="width: 250px; text-align: left;">Gênero:</th>
            <th style="width: 150px; text-align: left;">Duração:</th>
            <th style="width: 150px; text-align: left;">Ações:</th>
        </thead>
        <tbody>
            <% filmes.forEach(filme =>{ %>
            <tr>
                <tD> <%= filme.titulo %></tD>
                <tD> <%= filme.genero %></tD>
                <tD> <%= filme.duracao %></tD>
                <td><a onclick="return confirm('Deseja mesmo excluir o filme?')" href="/filmes/delete/<%= filme.id%>">Excluir</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('partials/footer.ejs')%>