<<<<<<< HEAD
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Conheça nossos produtos</h1></center>
    <hr>
    <!-- TAGS  EJS chamando a variavel que veio do index.js-->
    <%= produto %>

    <!-- Condição para verificar se o produto não foi passado-->
     <% if (!produto) { %>
    <p><%= listaProdutos %></p>
    <%}%>

    <!-- forEach para percorrer a lista de produtos-->
     <% if(!produto) {%>
     <% listaProdutos.forEach((produto) => { %>
        <p><%= produto %></p>
        <% }) %>
        <% } %>

</body>
=======
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Conheça nossos produtos</h1></center>
    <hr>
    <!-- TAGS  EJS chamando a variavel que veio do index.js-->
    <%= produto %>

    <!-- Condição para verificar se o produto não foi passado-->
     <% if (!produto) { %>
    <p><%= listaProdutos %></p>
    <%}%>

    <!-- forEach para percorrer a lista de produtos-->
     <% if(!produto) {%>
     <% listaProdutos.forEach((produto) => { %>
        <p><%= produto %></p>
        <% }) %>
        <% } %>

</body>
>>>>>>> 8e8bfd660688a19fb283e0b6caad1ba0246f383e
</html>