<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

    <center><h1>Bem vindo a página de videos</h1></center>
    <hr> 

    <% if(playlist && video == undefined) {%>
        <p> Você está na playlist <%= playlist %></p>
    <%}%>
    
    <% if(playlist && video) {%>
        <p>Você está na playlist <%= playlist %> vendo o vídeo <%= video %></p>
    <%}%>

<%- include ('partials/footer.ejs')%>